@page "/razor-page/contact"
@model ContactForms.Pages.ContactPage

@{
    Layout = "_Layout";
    ViewBag.Title = "Razor Page Contact";
}

<h2>Contact Us - Razor Page</h2>

<form id="contact-form"
      asp-page="ContactPage"
      method="post" role="form">
    <partial name="_Contact" model="@Model"/>
</form>