@model ContactModel

@{
    ViewBag.Title = "Contact Us";
}

<h2>Contact Us - MVC</h2>

<form id="contact-form" 
      method="post" 
      asp-action="Contact" 
      asp-controller="Home" role="form">

    <partial name="_Contact" model="@Model" />

</form>